---
---

$primary-color: #7A57D1;
// $primary-color: #5A3662;
// $primary-color: #4797B1;
// $primary-color: #004A7C;
$secondary-color: #7F7F7F;
$background-color: #fbfbfb;

$max-width: 960px;

$border-radius: 6px;

$font-size: 16px;
$body-font: 'Fira Sans', sans-serif;
$title-font: 'Archivo Black', sans-serif;
$alt-font-family: monospace;
$font-color: #353535;

$twitter: #78cdf0 !default;
$facebook: #537bbd !default;
$instagram: #517fa4 !default;
$youtube: #d34836 !default;
$snapchat: #fffc00 !default;
$pinterest: #cb2027 !default;
$google: #dd4b39 !default;

@import "main";
