---
---

// $primary-color: #FFA932; // orange
// $primary-color: #28D266; // lime green
// $primary-color: #D843C4; // dark pink
$primary-color: #7A57D1; // dark purple
// $primary-color: #5A3662; // plum
// $primary-color: #4797B1; // teal
// $primary-color: #004A7C; // dark teal
$secondary-color: #5E44A6;
$background-color: #fbfbfb;

$max-width: 960px;

$border-radius: 6px;

$font-size: 16px;
$body-font: 'Noto Serif', serif;
$title-font: 'Archivo Black', sans-serif;
$alt-font-family: monospace;
$font-color: #353535;

@import "main";
