// ########################################################################## //
// # generated sass variables
// ########################################################################## //

$font-color-light: lighten($font-color, 25%);
$font-color-dark: darken($font-color, 20%);

$background-color-light: lighten($background-color, 25%);
$background-color-mid: darken($background-color, 4%);
$background-color-dark: darken($background-color, 20%);

// ########################################################################## //
// # styles
// ########################################################################## //

// ########################################################################## //
// ## default styles
// ########################################################################## //

* {
  box-sizing: border-box;
}

::selection {
  text-shadow: none;
  background-color: $primary-color;
  color: $background-color;
}

body {
  margin: 0;
  background-color: $background-color;
  color: $font-color;
  font-family: $body-font;
  font-size: $font-size;
  text-decoration-skip: ink;
}

h1, h2, h3, h4, h5, h6, .title {
  color: $primary-color;
  font-family: $title-font;
  font-weight: 700;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, .title:first-child {
  margin-top: 0;
}

p {
  line-height: 1.4;
}


img {
  max-width: 100%;
  display: block;
}

a:link, a:visited {
  color: $primary-color;
  text-decoration: none;
}

a:hover, a:active {
  color: $secondary-color;
  text-decoration: underline;
}

.main-container {
  max-width: $max-width;
  margin: auto;
  width: 98%;
  padding: 2rem;
}

// ########################################################################## //
// ## header styles
// ########################################################################## //

header {
  // background-color: darken($background-color, 2.5%);
  // padding: 1.5rem;
  // margin: 2rem;
  margin-bottom: 2rem;
  // border-radius: $border-radius;
  border-bottom: 1px dotted $primary-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;

  div {
    // display: inline-block;
  }

  nav {
    text-align: right;
    font-size: 1.25rem;
    font-family: $title-font;
  }

  .text-links a {
    margin-left: 1rem;
  }

  img, svg {
    height: 2.75rem;
    display: inline;
  }
}

.header-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

// ########################################################################## //
// ## home page styles
// ########################################################################## //

.section-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.project-container {
  // padding: 0 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.section-title::after {
  content: "\2014";
  margin-left: 0.5rem;
}

.about-title {
  margin-bottom: 0;
}

.entry {
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.home .entry {
  width: calc((100% / 3) - (2rem / 3));

  &:nth-of-type(3n - 2) {
    margin-left: 0;
  }
}

.grid .entry {
  width: calc((100% / 2) - (1rem / 2));

  &:nth-of-type(2n - 1) {
    margin-left: 0;
  }
}

.entry-date {
  font-style: italic;
  font-size: 0.85em;
}

.about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2rem;
}

.about-container p {
  display: inline-block;
  width: 80%;
}

.portrait {
  border-radius: 50%;
  width: 20%;
  margin-right: 2rem;
  display: inline-block;
}

// ########################################################################## //
// ## archive
// ########################################################################## //

main.archive {

}

.archive ul {
  list-style: none;
  padding-left: 0;
}

.archive li {
  margin: 1rem 0;
  padding-left: 1.5rem;
  font-size: 1.1em;
  border-left: 2px solid $primary-color;
}

// ########################################################################## //
// ## project
// ########################################################################## //

.project img {
  margin: auto;
}

// ########################################################################## //
// ## footer
// ########################################################################## //

footer {
  border-top: 1px dotted $primary-color;
  padding-top: 1rem;
  margin-top: 2rem;
}

.footer-section {
  display: inline-block;
  width: 30%;
  margin-left: 1rem;
  vertical-align: top;

  &:first-of-type {
    margin-left: 0;
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      padding: 0.25rem 0;
    }
  }
}



// ########################################################################## //
// # utility classes
// ########################################################################## //

.light-text {
  color: $font-color-light;
}

a.btn {
  display: inline-block;
  padding: 0.65em;
  border-radius: $border-radius;
  background-color: $background-color-mid;
  font-family: $title-font;
  font-weight: bold;
  // box-shadow: 1px 1px 3px $background-color-dark;
}


// ########################################################################## //
// # Responsive Rules
// ########################################################################## //

@media screen and (max-width: 959px) {
  h1 { font-size: 1.75rem; }
  h2 { font-size: 1.4rem; }
  h3 { font-size: 1.2rem; }
  h4 { font-size: 1.15rem; }
  h5 { font-size: 1.1rem; }
  h6 { font-size: 1rem; }

  // header {
  //   flex-direction: column;

  //   nav {
  //     text-align: left;
  //   }

  //   .text-links a {
  //     margin-left: 0;
  //   }
  // }

  .entry, .home .entry, .grid .entry {
    margin-left: 0;
    width: 100%;
  }
  .about-container {
    flex-direction: column;

    p {
      width: 100%;
    }
  }
  .portrait {
    width: 60%;
    margin-right: 0;
  }

  .footer-section {
    width: 45%;
  }
}

@media screen and (min-width: 960px) {
  h1 { font-size: 2rem; }
  h2 { font-size: 1.8rem; }
  h3 { font-size: 1.3rem; }
  h4 { font-size: 1.2rem; }
  h5 { font-size: 1.125rem; }
  h6 { font-size: 1rem; }
}
