---
layout: default
---

<main class="home">

  <div class="section-container">

    <section class="project">
      <h2 id="projects" class="section-title"><a href="/project/">Projects</a></h2>

      {% for entry in site.projects reversed %}
      {% if entry.featured %}

        <div class="entry">
          {% if entry.image %}
          <img src="{{ site.github.url }}/img/project/{{ entry.image }}">
          {% endif %}
          {% if entry.title %}
          <h3><a href="{{ site.github.url }}{{ entry.url }}">{{ entry.title }}</a>{% unless entry.noyear %} &mdash; <span class="entry-date">{{ entry.date | date: "%Y" }}</span>{% endunless %}</h3>
          {% endif %}
          {% if entry.excerpt %}
          <p>{{ entry.excerpt }}</p>
          {% endif %}
        </div>

      {% endif %}
      {% endfor %}

      <a href="/project/" class="btn">View More</a>

    </section>

    <section class="project">
      <h2 id="writing" class="section-title"><a href="/writing/">Writing</a></h2>

      {% for entry in site.writing reversed %}
      {% if entry.featured %}

        <div class="entry">
          {% if entry.title %}
          <h3><a href="{{ site.github.url }}{{ entry.url }}">{{ entry.title }}</a>{% unless entry.noyear %} &mdash; <span class="entry-date">{{ entry.date | date: "%Y" }}</span>{% endunless %}</h3>
          {% endif %}
          {% if entry.excerpt %}
          <p>{{ entry.excerpt }}</p>
          {% endif %}
        </div>

      {% endif %}
      {% endfor %}

      <a href="/writing/" class="btn">View More</a>

    </section>

  </div>

  <div class="section-container">

    <h2 class="section-title about-title" id="About"><a href="/about/">About Ethan</a></h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <a href="/about/" class="btn">Read More</a>

  </div>


</main>