---
layout: default
---

<main class="home">

  <div class="section-container">

    <section class="project">
      {% if page.show_featured_title == true %}
      <h2 id="projects" class="section-title"><a href="/project/">Featured Works</a></h2>
      {% endif %}

      <div class="project-container">

<!--       {% assign featured_interactive = site.interactive | where:"featured", "true" %} -->
<!--       {% assign featured_writing = site.writing | where:"featured", "true" %} -->
<!--       {% assign featured_other = site.other | where:"featured", "true" %} -->
      <!-- {% assign featured = featured_interactive | concat: featured_writing | concat: featured_other | sort: "date" | reverse %} -->
      {% assign featured = site.documents | where:"featured", "true" | sort: "date" | reverse %}

      {% for entry in featured limit:3 %}

        <div class="entry">
          {% if entry.image %}
          <a href="{{ site.github.url }}{{ entry.url }}">
          <img src="{{ site.github.url }}/img/project/{{ entry.image }}">
          </a>
          {% endif %}
          {% if entry.title %}
          {% unless entry.hide_title == true %}
          <h3><a href="{% if entry.ext_url %}{{ entry.ext_url }}{% else %}{{ site.github.url }}{{ entry.url }}{% endif %}">{{ entry.title }}</a>{% unless entry.no_year == true %} &mdash; <span class="entry-date">{{ entry.date | date: "%Y" }}</span>{% endunless %}</h3>
          {% endunless %}
          {% endif %}
          {% if entry.excerpt %}
          <p>{{ entry.excerpt }}</p>
          {% endif %}

          <a href="{% if entry.ext_url %}{{ entry.ext_url }}{% else %}{{ site.github.url }}{{ entry.url }}{% endif %}" class="btn">Read More</a>
        </div>

      {% endfor %}

      </div>

      <!-- <a href="/project/" class="btn">View More</a> -->

    </section>

  </div>

  <div class="section-container">

    <h2 class="section-title about-title" id="About"><a href="/about/">About Ethan</a></h2>

    <div class="about-container">
      <img src="{{ site.github.url }}{{ site.portrait }}" class="portrait">

      <p>{{ page.content }}<br><br>

      <a href="/about/" class="btn">Read More</a></p>
    </div>




  </div>


</main>